body {
  line-height: 1.7;
  color: #364d59;
  font-weight: 300;
  font-size: 1rem; }

h1, h2, 
.h1, .h2,  {
  font-weight: 300;
  color: #000; }

.site-footer {
  padding: 0em 0;
  margin-right: 5px;
  margin-left: 20px;
   
	 width: 1340px;
  background: #efefef; }
p { 
 margin-left: 102px;
  margin-right: 20px;
 }
 h3 { 
 margin-left: 90px;
 }
  
  .site-footer
  a {
    color: #01d28e;
	 width: 100%;
	}
	
    .site-footer
	a:hover {
      color: #000;
	  }
	  
 /* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem; }
  
/* Blocks */
.site-section-cover {
  position: relative;
  background-size: cover;
  background-position: center; }
  
  .site-section-cover,
  .site-section-cover .container {
    position: relative;
    z-index: 2; }
	
	  .site-section-cover,
  .site-section-cover .container > .row {
    height: 100%;
    min-height: 677px; }
	
	@media (max-width: 991.98px) {
      .site-section-cover,
      .site-section-cover .container > .row {
        height: 100%;
        min-height: 600px; }
		}
		
		.site-section-cover.overlay {
    position: relative; }
	
	.site-section-cover.overlay:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1; }
 
